node-red
[
    {
        "id": "b3784b95.c7ed8",
        "type": "tab",
        "label": "Hans",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d2f0625.1e9aa2",
        "type": "mqtt in",
        "z": "b3784b95.c7ed8",
        "name": "RFBridge",
        "topic": "RFBridge/tele/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "674feae0.c33e0c",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "dbe9e56b.52fa78"
            ]
        ]
    },
    {
        "id": "ca6a6d14.7d81a",
        "type": "switch",
        "z": "b3784b95.c7ed8",
        "name": "Switfch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "043486",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "E9A6A1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "1A4199",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "e854cd2c.581498"
            ],
            [
                "b217ac19.73049"
            ],
            [
                "5379c641.343a58"
            ]
        ]
    },
    {
        "id": "e854cd2c.581498",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Kattesensor",
        "func": "msg.payload = \"Noen forran døra!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 20,
        "wires": [
            [
                "8569a3a9.e56c98"
            ]
        ]
    },
    {
        "id": "b217ac19.73049",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Ringeklokke",
        "func": "msg.payload = \"Noen ringer på\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "9a6f0d44.bb8218"
            ]
        ]
    },
    {
        "id": "5379c641.343a58",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Dørsensor",
        "func": "msg.payload = \"Døren ble åpnet\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "a12f1be4.2748e8"
            ]
        ]
    },
    {
        "id": "9a6f0d44.bb8218",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Parse",
        "func": "if (global.get(\"homeHans\") > 0) { \n    var message = msg.payload;\n    msg.payload = {chatId : 682686208, type : 'message', content : message};\n\n// activate markdown\n    msg.payload.options = {disable_web_page_preview : true, parse_mode : \"Markdown\"};\n    return msg;\n} else null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 60,
        "wires": [
            [
                "9128e2a5.b3c73",
                "56fa2c3a.057934"
            ]
        ]
    },
    {
        "id": "55ad0220.a9262c",
        "type": "server-state-changed",
        "z": "b3784b95.c7ed8",
        "name": "Hans home?",
        "server": "b7a70379.cba8c8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.XXXX",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 80,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9620b8dd.d3fa3",
        "type": "switch",
        "z": "b3784b95.c7ed8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "not_home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "2cf41464.745a2c"
            ],
            [
                "53677193.624c3"
            ]
        ]
    },
    {
        "id": "53677193.624c3",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Home",
        "func": "global.set(\"homeHans\",1);\nglobal.set(\"mute\",0);\nmsg.payload = \"home = 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2cf41464.745a2c",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Not Home",
        "func": "global.set(\"homeHans\",0);\nmsg.payload = \"home = 0\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "739cfbc5.9cf6c4",
        "type": "inject",
        "z": "b3784b95.c7ed8",
        "name": "Home",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "home",
        "payloadType": "str",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "9620b8dd.d3fa3"
            ]
        ]
    },
    {
        "id": "f939ea08.a96d78",
        "type": "comment",
        "z": "b3784b95.c7ed8",
        "name": "Presence detection (Hans)",
        "info": "homeHans = 1 dersom Hans er hjemme",
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "a12f1be4.2748e8",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Mute",
        "func": "global.set(\"mute\",1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "9f00471f.800548"
            ]
        ]
    },
    {
        "id": "9f00471f.800548",
        "type": "delay",
        "z": "b3784b95.c7ed8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "abfb429.9bbf74"
            ]
        ]
    },
    {
        "id": "abfb429.9bbf74",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Unmute",
        "func": "global.set(\"mute\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dbe9e56b.52fa78",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Check mute",
        "func": "if (global.get(\"homeHans\") === 1) {\nif (global.get(\"mute\") === 0 ) {\nreturn msg;\n} else null;\n} else null;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ca6a6d14.7d81a"
            ]
        ]
    },
    {
        "id": "b7169c4.5b6d2e",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Check mute",
        "func": "if (global.get(\"mute\") === 0 ) {\nreturn msg;\n} else null;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 20,
        "wires": [
            [
                "9a6f0d44.bb8218"
            ]
        ]
    },
    {
        "id": "8569a3a9.e56c98",
        "type": "delay",
        "z": "b3784b95.c7ed8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 20,
        "wires": [
            [
                "b7169c4.5b6d2e"
            ]
        ]
    },
    {
        "id": "7c632449.dd77dc",
        "type": "inject",
        "z": "b3784b95.c7ed8",
        "name": "Test",
        "props": [
            {
                "p": "payload",
                "v": "043486",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "043486",
        "payloadType": "str",
        "x": 85.19999694824219,
        "y": 185.1999969482422,
        "wires": [
            [
                "dbe9e56b.52fa78"
            ]
        ]
    },
    {
        "id": "a4fce905.73d928",
        "type": "debug",
        "z": "b3784b95.c7ed8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 270,
        "y": 780,
        "wires": []
    },
    {
        "id": "e21b75ee.1a45a",
        "type": "comment",
        "z": "b3784b95.c7ed8",
        "name": "LED lights soverom",
        "info": "",
        "x": 290,
        "y": 440,
        "wires": []
    },
    {
        "id": "8fb2677c.56b248",
        "type": "mqtt in",
        "z": "b3784b95.c7ed8",
        "name": "RFBridge",
        "topic": "RFBridge/tele/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "674feae0.c33e0c",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "6f5e100.7873ef",
                "a4fce905.73d928"
            ]
        ]
    },
    {
        "id": "6f5e100.7873ef",
        "type": "switch",
        "z": "b3784b95.c7ed8",
        "name": "Switfch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "061C41",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "B887F1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "B887F2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "7e0d26dc.58de2"
            ],
            [
                "66805057.edef3"
            ],
            [
                "f82a2f6b.19912"
            ]
        ]
    },
    {
        "id": "7e0d26dc.58de2",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Lysbryter 1-knapp",
        "func": "msg.payload = \"off\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "fac15373.f6c4"
            ]
        ]
    },
    {
        "id": "17063215.08cb36",
        "type": "inject",
        "z": "b3784b95.c7ed8",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "061C41",
        "payloadType": "str",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "6f5e100.7873ef"
            ]
        ]
    },
    {
        "id": "fac15373.f6c4",
        "type": "api-call-service",
        "z": "b3784b95.c7ed8",
        "name": "Kontoret switch",
        "server": "18c59042.5e87",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.kontoret_relay",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 800,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "66805057.edef3",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Lysbryter 2-knapper knap-1",
        "func": "msg.payload = \"off\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "b473aaf2.e89dc8"
            ]
        ]
    },
    {
        "id": "f82a2f6b.19912",
        "type": "function",
        "z": "b3784b95.c7ed8",
        "name": "Lysbryter 2-knapper knap-2",
        "func": "msg.payload = \"off\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "7929da14.c14144"
            ]
        ]
    },
    {
        "id": "b473aaf2.e89dc8",
        "type": "api-call-service",
        "z": "b3784b95.c7ed8",
        "name": "Soverom lys 1",
        "server": "18c59042.5e87",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.rgb_smart_plug_16a",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 800,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "7929da14.c14144",
        "type": "api-call-service",
        "z": "b3784b95.c7ed8",
        "name": "Soverom lys 2",
        "server": "18c59042.5e87",
        "version": 1,
        "debugenabled": true,
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.rgb_smart_plug_16a_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 800,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "56fa2c3a.057934",
        "type": "telegram sender",
        "z": "b3784b95.c7ed8",
        "name": "Telegram Hans",
        "bot": "b97a17f4.33175",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1330,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9128e2a5.b3c73",
        "type": "api-call-service",
        "z": "b3784b95.c7ed8",
        "name": "",
        "server": "dc8d5dee.c2c43",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notify",
        "entityId": "",
        "data": "msg.payload ",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1360,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "674feae0.c33e0c",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.1.112",
        "port": "1883",
        "clientid": "homeassistant",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "nodered/state",
        "birthQos": "0",
        "birthPayload": "alive",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b7a70379.cba8c8",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": true
    },
    {
        "id": "18c59042.5e87",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "b97a17f4.33175",
        "type": "telegram bot",
        "botname": "XXXX",
        "usernames": "",
        "chatids": "XXXX",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "dc8d5dee.c2c43",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]
